<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="offset-1 col-10 card py-5 px-3 text-center">
			<h4 class="text-muted m-0 mb-5">Testable Picklist 1</h4>

			<p-pickList 
				[styleClass]="'picklist-custom-top'"
				[responsive]="true"
				[dragdrop]="true"

				[source]="source_1"
				[sourceHeader]="'Select columns to import'"
				[showSourceControls]="false"
				[showSourceFilter]="false"

				[target]="target_1"
				[targetHeader]="'Imported columns'"
				[showTargetFilter]="false"
				[showTargetControls]="false"
				[metaKeySelection]="false">

			    <ng-template let-item pTemplate="item">
			        <div class="text-left"><span class="fa fa-ellipsis-v mr-3"></span>{{item}}</div>
			    </ng-template>
			</p-pickList>
			
		</div>
	</div>
</div>


<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="offset-1 col-10 card py-5 px-3 text-center">
			<h4 class="text-muted m-0 mb-5">Testable Picklist 2</h4>

			<div class="row p-0 m-0">
				<!--
				<div class="col-12 p-0 mb-4">
					<p-pickList 
						[styleClass]="'picklist-custom-bottom-left p-0 m-0'"
						[responsive]="true"
						[dragdrop]="true"
						
						[source]="nonRequestedField_2"
						[sourceHeader]="'Non Requested Fields'"
						[showSourceControls]="false"
						[showSourceFilter]="false"

						[target]="mandatory_2"
						[targetHeader]="'Mandatory fields'"
						[showTargetFilter]="false"
						[showTargetControls]="false"
						[metaKeySelection]="false">

					    <ng-template let-item pTemplate="item">
					        <div class="text-left">
					        	<div *ngIf="item?.description">
					        		<span class="fa fa-ellipsis-v mr-3"></span>{{item.title || item}}
					        		<span class="fa fa-search float-right"></span><br>
					        		<i class="ml-3 pl-1">{{item.description}}</i>
					        	</div>
					        	
					        	<div *ngIf="!item?.description">
					        		<span class="fa fa-ellipsis-v mr-3"></span>{{item.title || item}}<br>
					        	</div>
					        </div>
					    </ng-template>
					</p-pickList>
				</div>-->

				<div class="col-12 p-0 m-0">
					<p-pickList 
						[styleClass]="'picklist-custom-bottom-right p-0 m-0'"
						[responsive]="true"
						[dragdrop]="true"
						
						[source]="recommended_2"
						[sourceHeader]="'Recommended fields'"
						[showSourceControls]="false"
						[showSourceFilter]="false"

						[target]="mandatory_2"
						[targetHeader]="'Mandatory fields'"
						[showTargetFilter]="false"
						[showTargetControls]="false"
						[metaKeySelection]="false">

					    <ng-template let-item pTemplate="item">
					        <div class="text-left">
					        	<div *ngIf="item?.description">
					        		<span class="fa fa-ellipsis-v mr-3"></span>{{item.title || item}}
					        		<span class="fa fa-search float-right"></span><br>
					        		<i class="ml-3 pl-1">{{item.description}}</i>
					        	</div>
					        	
					        	<div *ngIf="!item?.description">
					        		<span class="fa fa-ellipsis-v mr-3"></span>{{item.title || item}}<br>
					        	</div>
					        </div>
					    </ng-template>
					</p-pickList>
				</div>
			</div>
			
		</div>
	</div>
</div>
