<div class="px-md-3 mx-md-3 px-lg-5 mx-lg-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
		<div class="row">
			<div class="col-12 py-5 px-3 text-center">
				<h4 class="text-muted m-0 mb-5">Testable Table Slanted Sort</h4>
				
  			<div>
  				<table class="table table-striped table-header-rotated">
  					<thead>
  						<tr >
  							<th 
                  *ngFor="let column of displayedColumns; let i = index;"
                  [ngClass]="slanted ? 'rotate-45' : ''"
                  [ngStyle]="{'width': column.width > 0 ? column.width + 'px':'40px'}" 
                  (mousedown)="resizeTable($event, column)"
                  >

  								<div>
  									<span>
  										<strong class="fa-stack">
  											<i class="fa fa-caret-up mr-2" 
  											[ngClass]="sort.column == column.name 
  											&& sort.direction == 'asc' ? 'text-primary': ''"
  											(click)="onSort(column.name, 'asc', cars)"></i>

  											<i class="fa fa-caret-down mr-2" 
  											[ngClass]="sort.column == column.name 
  											&& sort.direction == 'desc' ? 'text-primary': ''"
  											(click)="onSort(column.name, 'desc', cars)"></i>
  										</strong>

  										<strong>
  											{{column.display}}
  										</strong>
  									</span>
  								</div>
  							</th>
  						</tr>
  					</thead>

  					<tbody [ngClass]="scrollable ? 'scrollable-height' : ''" >
  						<tr *ngFor="let car of cars">
  							<td>{{car.vin}}</td>
  							<td>{{car.year}}</td>
  							<td>{{car.brand}}</td>
  							<td>{{car.color}}</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>

  		</div>
  	</div>
</div>


