<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="offset-1 col-10 card py-5 px-3 text-center">
			<h4 class="text-muted m-0 mb-5">Testable Picklist 2</h4>

			<div class="row p-0 m-0">
				
				<div class="col-12 p-0 m-0">
					<p-multiPickList
						[styleClass]="'picklist-custom-multiple'"
					    [lists]="lists"
					    [responsive]="true"
					    [sourceStyle]="{ 'min-width.px': 300 }"
					    [targetStyle]="{ 'min-width.px': 300, 'margin-right.px': 10 }"
					>
					    <ng-template
					        let-field
					        pTemplate="item"
					    >
					        <div
					            class="field ui-helper-clearfix"
					            [ngClass]="field.type"
					        >
					            <i
					                *ngIf="field.remark"
					                class="pi pi-search"
					                style="float: right; padding: .25em; color: #eee;"
					            ></i>
					            <div style="display: flex; padding: 6px; color: #eee; font-size: 14px;">
					                <i class="pi pi-ellipsis-v"></i>
					                <span>
					                    {{ field.name }}
					                    <div
					                        *ngIf="field.remark"
					                        style="padding-top: .25em; font-size: smaller; font-style: italic;"
					                    >
					                        {{ field.remark }}
					                    </div>
					                </span>
					            </div>
					        </div>
					    </ng-template>
					</p-multiPickList>
				</div>
			</div>
			
		</div>
	</div>
</div>