 <!-- 
 	===================================================
 	PLEASE READ - AVAILABLE INPUT FLAGS 
 	FOR <app-primeng-table> Selector or REUSABLE PRIMENG TABLE
 	===================================================

		[columns]: List of column header : Array of object
		[datakey]: Data Key if [selectable]="true" : String
		[editable]: Editable, Set if row item is editable: Boolean 
		[frozen]: Enable frozen column, PLEASE CHECK LIMITATIONS BELOW: Boolean
		[frozenWidth]: Frozen Column Width per column: Number
		[frozenColumn]: Frozen Column Header: Object
		[headerHeight]: Height of header: number
		[itemList]: List of rows : array of object
		[paginator]: Set Paginator : Boolean
		[rows]: Rows Per Page if [paginator]="true": Boolean
		[rowsPerPageOptions]: Rows Per Page Option if [paginator]="true": Array of Number
		[resizable]: Resizable columns headers: Boolean
		[scrollable]: Allow scrolling of table with scrollable height
		[scrollableHeight]: Allow scrolling of table with scrollable height
		[selectable]: Selectable row : Boolean
		[selectionMode]: Type of Selection for Table | single or multiple selection: String
		[slanted]: Slanted headers : Boolean
		[sticky]: Sticky headers : Boolean
	
	===================================================
	NOTE: LIMITATION OF REUSABLE PRIMENG TABLE
	===================================================
		/----------------
		IF YOU WILL USE SCROLL [scrollable]="true" 
		DONT USE RESIZE, set [resizable]="false" (SCROLL DONT WORK WITH RESIZE COLUMN)
		
		/----------------
		IF YOU WILL USE EDITABLE ROWS [editable]="true"
		DONT USE SELECTABLE, set [selectable]="false" and other related flag 
		[selectionMode]="'single'"
		[datakey]="'vin'"
		(YOU CANT SELECT A SINGLE ROW AND EDIT IT, YOU CAN ONLY SELECT 1 COLUMN PER ROW)

		/----------------
		FROZEN COLUMN IS NOT VERY COMPATIBLE WITH REUSABLE TABLE, 
		FROZEN COLUMN MIGHT CRASH THE TABLE, CREATING CONFLICTS WITH OTHER FLAGS
		
		- ONLY USE THIS FLAGS WHILE USING FROZEN COLUMNS, RECHECK LIMITATION
			[columns]="scrollableCols"
			[datakey]="'vin'"
			[editable]="false" 
			[frozen]="true"
			[frozenWidth]="200"
			[frozenColumn]="frozenCols"
			[headerHeight]="headerHeight"
			[itemList]="cars2"
			[paginator]="false"
			[rows]="10"
			[rowsPerPageOptions]="[10,15,20,25]" 
			[scrollable]="false"
			[selectable]="true"
			[selectionMode]="'single'"
			[slanted]="true"

		/-----------------
 -->

<div class="pt-5" 
	*ngIf="rowData && rowData.length > 0 && !frozen">
	<div class="px-3 text-center">
		<p-table
			[ngClass]="{ 
				'rotate': slanted ? 'rotate' : '', 
				'p-table-sticky': sticky ? 'p-table-sticky' : '',
				'scroll-table-body': scrollable ? 'scroll-table-body': '' }"
			[value]="rowData"
			[resizableColumns]="resizable ? true : false"
			[selectionMode]="selectable ? selectionMode : ''" 
			[(selection)]="selected" 
			[dataKey]="datakey"
			[paginator]="paginator"
			[rows]="rows"
			[rowsPerPageOptions]="rowsPerPageOptions" 
			>
		    <ng-template pTemplate="header">
		    	<tr *ngIf="!scrollable && !resizable">
		            <th *ngFor="let col of columns" 
		            class="rotated-header" 
		            [pSortableColumn]="col.field"
		            (click)="removeHighlight()" 
		            [ngStyle]="{height: headerHeight + 'px'}">
		            	<div class="rotated-header-decoration"></div>
		                <div class="rotated-header-text" 
		                	pTooltip="{{col.header}}" 
		                	tooltipPosition="top"
		                	[ngStyle]="{width: headerHeight + 20 + 'px'}"> 
		                    <p-sortIcon [field]="col.field"></p-sortIcon>
		                    {{col.header}}
		                </div>
		            </th>
		        </tr>

		        <tr *ngIf="!scrollable && resizable">
		            <th *ngFor="let col of columns" 
		            class="rotated-header" 
		            [pSortableColumn]="col.field"
		            (click)="removeHighlight()" 
		            [ngStyle]="{height: headerHeight + 'px'}"
		            pResizableColumn>
		            	<div class="rotated-header-decoration"></div>
		                <div class="rotated-header-text" 
		                	pTooltip="{{col.header}}" 
		                	tooltipPosition="top"
		                	[ngStyle]="{width: headerHeight + 20 + 'px'}"> 
		                    <p-sortIcon [field]="col.field"></p-sortIcon>
		                    {{col.header}}
		                </div>
		            </th>
		        </tr>

		        <tr *ngIf="scrollable && !resizable">
		            <th *ngFor="let col of columns" 
		            class="rotated-header" 
		            [pSortableColumn]="col.field"
		            (click)="removeHighlight()" 
		            [ngStyle]="{height: headerHeight + 'px'}">
		            	<div class="rotated-header-decoration"></div>
		                <div class="rotated-header-text" 
		                	pTooltip="{{col.header}}" 
		                	tooltipPosition="top"
		                	[ngStyle]="{width: headerHeight + 20 + 'px'}"> 
		                    <p-sortIcon [field]="col.field"></p-sortIcon>
		                    {{col.header}}
		                </div>
		            </th>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" let-item *ngIf="!editable && !selectable">
		        <tr>
		            <td *ngFor="let col of columns" class="ui-resizable-column">
		                {{item[col.field]}}
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" let-item *ngIf="!editable && selectable">
		        <tr [pSelectableRow]="item">
		            <td *ngFor="let col of columns" class="ui-resizable-column">
		                {{item[col.field]}}
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" let-item *ngIf="editable && !selectable">
		        <tr>
		            <td pEditableColumn
		            	*ngFor="let col of columns" 
		            	class="ui-resizable-column">

		                <!-- NORMAL INPUT -->
		                <p-cellEditor >
		                    <ng-template pTemplate="input">
		                        <input pInputText type="text" 
		                        [(ngModel)]="item[col.field]">
		                    </ng-template>
		                    <ng-template pTemplate="output">
		                        {{item[col.field]}}
		                    </ng-template>
		                </p-cellEditor>
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="summary" *ngIf="selectable">
		    	<!-- SINGLE SELECTION -->
	            <div class="row px-4" *ngIf="selectionMode === 'single'">
	            	<div class="col-11 p-0" class="text-left">
	            	    <span class="mt-3">
	            	    	Selected Item: {{selected ? selected.vin + ' - ' + selected.brand + ' - ' + selected.year + ' - ' + selected.color: 'none'}}
	            	    </span>
	            	</div>

	            	<div class="col-1 pl-2" *ngIf="selected">
	            		<div style="width:20px; height:20px;border:1px solid #000;" 
	            		[ngStyle]="{'background': selected.color}"></div>
	            	</div>
	            </div>

	            <!-- MULTIPLE SELECTION -->
	            <div class="selected-div pr-0 mr-0" *ngIf="selectionMode === 'multiple'">
	            	<h6 class="mt-3 text-left" *ngIf="selected && selected?.length > 0">Selected Items</h6>
	            	<div class="row pl-4 pr-0 mr-0" 
	            	*ngFor="let selected of selected; let i = index;">
	            		<div class="col-12 pr-0 mr-0"><hr></div>
	            		<div class="col-11 p-0 pr-0 mr-0" class="text-left">
	            		    <span class="mt-3">
	            		    	{{selected ? selected.vin + ' - ' + selected.brand + ' - ' + selected.year + ' - ' + selected.color: 'none'}}
	            		    </span>
	            		</div>

	            		<div class="col-1 pl-2 pr-0 mr-0" *ngIf="selected">
	            			<div style="width:20px; height:20px;border:1px solid #000;" 
	            			[ngStyle]="{'background': selected.color}"></div>
	            		</div>
	            	</div>
	            </div>
	        </ng-template>
		</p-table>
	</div>
</div>


<div class="pt-5" 
	*ngIf="rowData && rowData.length > 0 && frozen">
	<div class="px-3 text-center">
		<p-table
			[ngClass]="{ 
				'rotate': slanted ? 'rotate' : '', 
				'p-table-sticky': sticky ? 'p-table-sticky' : '' }"
			[value]="rowData"
			[selectionMode]="selectable ? selectionMode : ''" 
			[(selection)]="selected" 
			[dataKey]="datakey"
			[paginator]="false"
			[rows]="rows"
			[rowsPerPageOptions]="rowsPerPageOptions" 
			[scrollable]="true" 
			[columns]="columns" 
			[frozenColumns]="frozenColumn" 
			[frozenWidth]="frozenWidth + 'px'"
			scrollHeight="335px"
			>
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let col of columns" style="width:200px">
				</colgroup>
			</ng-template>

		    <ng-template pTemplate="header" let-columns>
		    	<tr>
		            <th 
			            *ngFor="let col of columns; let i = index;" 
			            [id]="col.field !== 'vin' ? 'slanted-header': ''"
			            class="rotated-header"
			            pTooltip="{{col.header}}" 
			            tooltipPosition="top"
			            [ngStyle]="{height: headerHeight + 'px'}"
			            [pSortableColumn]="col.field"
			            (click)="removeHighlight()">
			            	<div class="rotated-header-decoration" 
			            	[id]="'slanted-div-' + col.field"></div>
			                <div class="rotated-header-text" 
			                [id]="'slanted-text-' + col.field"> 
			                    <p-sortIcon [field]="col.field"></p-sortIcon>
			                    {{col.header}}
			                </div>
			            </th>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" 
		    let-rowData 
		    let-columns="columns" 
		    *ngIf="!editable && !selectable">
		        <tr>
		            <td *ngFor="let col of columns" class="ui-resizable-column">
		                {{rowData[col.field]}}
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" 
		    let-rowData 
		    let-columns="columns" 
		    *ngIf="!editable && selectable">
		        <tr [pSelectableRow]="item">
		            <td *ngFor="let col of columns" class="ui-resizable-column">
		                {{rowData[col.field]}}
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="body" 
		    let-rowData 
		    let-columns="columns" 
		    *ngIf="editable && !selectable">
		        <tr>
		            <td pEditableColumn
		            	*ngFor="let col of columns" 
		            	class="ui-resizable-column">

		                <!-- NORMAL INPUT -->
		                <p-cellEditor >
		                    <ng-template pTemplate="input">
		                        <input pInputText type="text" 
		                        [(ngModel)]="rowData[col.field]">
		                    </ng-template>
		                    <ng-template pTemplate="output">
		                        {{rowData[col.field]}}
		                    </ng-template>
		                </p-cellEditor>
		            </td>
		        </tr>
		    </ng-template>

		    <ng-template pTemplate="summary" *ngIf="selectable">
		    	<!-- SINGLE SELECTION -->
	            <div class="row px-4" *ngIf="selectionMode === 'single'">
	            	<div class="col-11 p-0" class="text-left">
	            	    <span class="mt-3">
	            	    	Selected Item: {{selected ? selected.vin + ' - ' + selected.brand + ' - ' + selected.year + ' - ' + selected.color: 'none'}}
	            	    </span>
	            	</div>

	            	<div class="col-1 pl-2" *ngIf="selected">
	            		<div style="width:20px; height:20px;border:1px solid #000;" 
	            		[ngStyle]="{'background': selected.color}"></div>
	            	</div>
	            </div>

	            <!-- MULTIPLE SELECTION -->
	            <div class="selected-div pr-0 mr-0" *ngIf="selectionMode === 'multiple'">
	            	<h6 class="mt-3 text-left" *ngIf="selected && selected?.length > 0">Selected Items</h6>
	            	<div class="row pl-4 pr-0 mr-0" 
	            	*ngFor="let selected of selected; let i = index;">
	            		<div class="col-12 pr-0 mr-0"><hr></div>
	            		<div class="col-11 p-0 pr-0 mr-0" class="text-left">
	            		    <span class="mt-3">
	            		    	{{selected ? selected.vin + ' - ' + selected.brand + ' - ' + selected.year + ' - ' + selected.color: 'none'}}
	            		    </span>
	            		</div>

	            		<div class="col-1 pl-2 pr-0 mr-0" *ngIf="selected">
	            			<div style="width:20px; height:20px;border:1px solid #000;" 
	            			[ngStyle]="{'background': selected.color}"></div>
	            		</div>
	            	</div>
	            </div>
	        </ng-template>
		</p-table>
	</div>
</div>