table{
  width: 100% !important;
}

tbody {
  display:block;
  height:450px;
  overflow:auto;
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}

.table-header-col-group {
  position: relative;
  top: 0px;
  border: none;
  outline: 1px solid #dddddd;
  right: -125px;
  /* Rotate div */
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);

  span{
    -ms-transform:skew(45deg,0deg);
    -moz-transform:skew(45deg,0deg);
    -webkit-transform:skew(45deg,0deg);
    -o-transform:skew(45deg,0deg);
    transform:skew(45deg,0deg);
  }
}

.table-header-col-group span {
  -ms-transform:skew(45deg,0deg);
  -moz-transform:skew(45deg,0deg);
  -webkit-transform:skew(45deg,0deg);
  -o-transform:skew(45deg,0deg);
  transform:skew(45deg,0deg);
  display: inline-block !important;
}


.table-header-col-group-main {
  left: 75px !important;
  position: relative;
  width: auto;
  z-index: 9999;
  /* Rotate div */
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  outline: 1px solid #dddddd;
}

.table-header-col-group-main span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -10px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  font-size: 15px;
  // white-space: nowrap; /*whether to display in one line or not*/
}

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 100px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}


.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
	left: 50px; /* 80 * tan(45) / 2 = 50 where 100 is the height on the cell and 45 is the transform angle*/
	height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 > div:nth-child(even){
  background-color: #f2f2f2 !important;
  color: red !important;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -10px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  font-size: 15px;
  // white-space: nowrap; /*whether to display in one line or not*/
}

.fa-stack {
  text-align: center;
}

.fa-stack .fa-caret-down {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 18px;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 18px;
}