<div style="margin: 20px 120px 20px 20px;">
  <p-table [value]="sales">
    <ng-template pTemplate="header">
      <tr>
        <th
          class="rotated-header"
          [pSortableColumn]="'vin'"
          style="width: 120px;"
        >
          <div class="rotated-header-text">
            <p-sortIcon [field]="'vin'"></p-sortIcon>Vin
          </div>
          <div class="rotated-header-decoration"></div>
        </th>
        <th class="rotated-header" [pSortableColumn]="'year'">
          <div class="rotated-header-text">
            <p-sortIcon [field]="'year'"></p-sortIcon>Year
          </div>
          <div class="rotated-header-decoration"></div>
        </th>
        <th class="rotated-header" [pSortableColumn]="'brand'">
          <div class="rotated-header-text">
            <p-sortIcon [field]="'brand'"></p-sortIcon>Brand
          </div>
          <div class="rotated-header-decoration"></div>
        </th>
        <th class="rotated-header" [pSortableColumn]="'color'">
          <div class="rotated-header-text">
            <p-sortIcon [field]="'color'"></p-sortIcon>Color
          </div>
          <div class="rotated-header-decoration"></div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sale>
      <tr>
        <td>{{ sale.vin }}</td>
        <td>{{ sale.year }}</td>
        <td>{{ sale.brand }}</td>
        <td>{{ sale.color }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
