
<!-- Table 2 -->
<div class="pt-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-10 py-5 px-3 text-center">
			<h5 class="text-muted m-0 mb-5 ml-5">Primeng Table with Slanted Header, Col Group, Sort, Resize, Sticky, Editable</h5>

			<p-table [columns]="cols" 
				[value]="cars" 
				[resizableColumns]="true">
			        <ng-template pTemplate="header" let-columns>
			            <tr>
	                        <th rowspan="2" frozen="true"
	                        	[pSortableColumn]="'vin'"
	                        	(click)="removeHighlight()"
								class="rotated-header p-table-sticky-column-group" pResizableColumn>
			                	<div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="'vin'"></p-sortIcon>
			                        Vin
			                    </div>
	                        </th>
	                        <th colspan="3" class="rotated-header-column-group p-table-sticky-column-group-main" pResizableColumn>
			                    <div style="position: relative !important;right: -100px; top: 0;">
			                    	<span>   
			                    	    Sales
			                    	</span>
			                    </div>
	                        </th>
	                    </tr>
	                    <tr>
	                        <th *ngFor="let col of colGroupItem" 
	                    		[pSortableColumn]="col.field"
	                        	(click)="removeHighlight()"
	                        	class="rotated-header p-table-sticky-column-group-item" width="70px">
			                    <div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="col.field"></p-sortIcon>
			                        {{col.header}}
			                    </div>
			                </th>
	                    </tr>
			        </ng-template>
			        <ng-template pTemplate="body" let-car>
			            <tr>
			                <td *ngFor="let col of cols"
			                pEditableColumn  
			                class="ui-resizable-column">
			                	<!-- NORMAL INPUT -->
			                    <p-cellEditor *ngIf="col.field !== 'brand'">
			                        <ng-template pTemplate="input">
			                            <input pInputText type="text" 
			                            [(ngModel)]="car[col.field]">
			                        </ng-template>
			                        <ng-template pTemplate="output">
			                            {{car[col.field]}}
			                        </ng-template>
			                    </p-cellEditor>

			                    <!-- DROPDOWN INPUT -->
			                    <p-cellEditor *ngIf="col.field === 'brand'">
			                        <ng-template pTemplate="input">
			                            
			                            <div class="form-group custom-dropdown">
			                                <select class="form-control" 
			                                	style="cursor: pointer !important;"
			                                	[(ngModel)]="car[col.field]">
			                                	<option *ngFor="let brands of brands">
			                                		<span>{{brands.label}}</span>
			                                	</option>
			                                </select>
			                            </div>
			                        </ng-template>
			                        <ng-template pTemplate="output">
			                            {{car[col.field]}}
			                        </ng-template>
			                    </p-cellEditor>
			                </td>
			            </tr>
			        </ng-template>
			    </p-table>
		</div>
	</div>
</div>


<!-- Table 4 -->
<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-10 py-2 px-3 mt-5 text-center">
			<h5 class="text-muted m-0 mb-5 ml-5">Primeng Table With Slanted Header, Col Group, Sort, Multiple Selection, Scroll</h5>
			
			<p-table
				[columns]="cols" 
				[value]="cars2"
				[scrollable]="true" 
				[style]="{maxWidth:'700px'}" 
				selectionMode="multiple" 
				[(selection)]="selectedCar"
				scrollHeight="335px"
				>
					<ng-template pTemplate="colgroup" let-columns>
						<colgroup>
							<col *ngFor="let col of columns" style="width:220px">
						</colgroup>
					</ng-template>
			        <ng-template pTemplate="header" let-columns>
			            <tr>
	                        <th rowspan="2" 
	                        	[pSortableColumn]="'vin'"
	                        	(click)="removeHighlight()"
	                        	class="rotated-header" >
			                	<div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="'vin'"></p-sortIcon>
			                        Vin
			                    </div>
	                        </th>
	                        <th colspan="3" class="rotated-header-column-group">
			                    <div>
			                    	<span>   
			                    	    Sales
			                    	</span>
			                    </div>
	                        </th>
	                    </tr>
	                    <tr>
	                    	<th *ngFor="let col of colGroupItem" 
	                    		[pSortableColumn]="col.field"
	                        	(click)="removeHighlight()"
	                        	class="rotated-header" width="70px">
			                    <div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="col.field"></p-sortIcon>
			                        {{col.header}}
			                    </div>
			                </th>
	                    </tr>
			        </ng-template>
			        <ng-template pTemplate="body" 
				        let-rowData let-columns="columns" 
				        let-rowIndex="rowIndex">
			            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
			                <td *ngFor="let col of columns">
			                    {{rowData[col.field]}}
			                </td>
			            </tr>
			        </ng-template>

			        <!-- SELECTED -->
	        	    <ng-template pTemplate="summary">
	                    <div class="selected-div">
	                    	<h6 class="mt-3 text-left" *ngIf="selectedCar">Selected Cars</h6>
	                    	<div class="row px-4" *ngFor="let selectedCar of selectedCar; let i = index;">
	                    		<div class="col-12"><hr></div>
	                    		<div class="col-11 p-0" class="text-left">
	                    		    <span class="mt-3">
	                    		    	{{selectedCar ? selectedCar.vin + ' - ' + selectedCar.brand + ' - ' + selectedCar.year + ' - ' + selectedCar.color: 'none'}}
	                    		    </span>
	                    		</div>

	                    		<div class="col-1 pl-2" *ngIf="selectedCar">
	                    			<div style="width:20px; height:20px;border:1px solid #000;" 
	                    			[ngStyle]="{'background': selectedCar.color}"></div>
	                    		</div>

	                    	</div>
	                    </div>
	                </ng-template>
			    </p-table>
		</div>
	</div>
</div>

<!-- Table 6 -->
<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row mt-5">
		<div class="col-10 py-2 mt-5 px-3 text-center">
			<h5 class="text-muted m-0 mb-5 ml-5">Primeng Table With Slanted Header, Col Group, Sort, Multiple Selection, Scroll, Frozen Column</h5>
			
			<p-table
				[columns]="scrollableCols" 
				[value]="cars3"
				[scrollable]="true" 
				[style]="{maxWidth:'700px'}" 
				selectionMode="multiple" 
				[(selection)]="selectedCar2"
				[frozenColumns]="frozenCols" 
				[frozenValue]="frozenCars" 
				frozenWidth="220px"
				scrollHeight="335px"
				>
					<ng-template pTemplate="colgroup" let-columns>
						<colgroup>
							<col *ngFor="let col of columns" style="width:220px">
						</colgroup>
					</ng-template>
			        <ng-template pTemplate="header" let-columns>
			            <tr>
	                        <th rowspan="2" 
	                        	[pSortableColumn]="'vin'"
	                        	(click)="removeHighlight()"
	                        	class="rotated-header" >
			                	<div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="'vin'"></p-sortIcon>
			                        Vin 
			                    </div>
	                        </th>
	                        <th colspan="3" class="rotated-header-column-group">
			                    <div>
			                    	<span>   
			                    	    Sales
			                    	</span>
			                    </div>
	                        </th>
	                    </tr>
	                    <tr>
	                    	<th *ngFor="let col of columns" 
	                    		[pSortableColumn]="col.field"
	                        	(click)="removeHighlight()"
	                        	class="rotated-header" width="70px">
			                    <div class="rotated-header-decoration"></div>
			                    <div class="rotated-header-text"> 
			                        <p-sortIcon [field]="col.field"></p-sortIcon>
			                        {{col.header}}
			                    </div>
			                </th>
	                    </tr>
			        </ng-template>

			        <ng-template pTemplate="body" 
				        let-rowData let-columns="columns" 
				        let-rowIndex="rowIndex">
			            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
			                <td *ngFor="let col of columns">
			                    {{rowData[col.field]}}
			                </td>
			            </tr>
			        </ng-template>

			        <!-- SELECTED -->
	        	    <ng-template pTemplate="summary">
	                    <div class="selected-div">
	                    	<h6 class="mt-3 text-left" *ngIf="selectedCar2">Selected Cars</h6>
	                    	<div class="row px-4" *ngFor="let selectedCar of selectedCar2; let i = index;">
	                    		<div class="col-12"><hr></div>
	                    		<div class="col-11 p-0" class="text-left">
	                    		    <span class="mt-3">
	                    		    	{{selectedCar ? selectedCar.vin + ' - ' + selectedCar.brand + ' - ' + selectedCar.year + ' - ' + selectedCar.color: 'none'}}
	                    		    </span>
	                    		</div>

	                    		<div class="col-1 pl-2" *ngIf="selectedCar">
	                    			<div style="width:20px; height:20px;border:1px solid #000;" 
	                    			[ngStyle]="{'background': selectedCar.color}"></div>
	                    		</div>

	                    	</div>
	                    </div>
	                </ng-template>
			    </p-table>
		</div>
	</div>
</div>

