
// main picklist source and target css
.ui-picklist-main{
	width: auto !important;
	min-height: 270px !important;
	padding: 10px !important;
	margin: 5px !important;
	border-radius: 5px !important;
}

// picklist item main css
.ui-picklist-item-main{
	padding: 10px 15px !important;
	border-radius: 10px !important;
	word-break: break-all !important; 
}

// pick list caption
.ui-picklist-caption{
	text-align: left !important;
	background: none !important;
	border: none !important;
	font-weight: 400 !important;
	color: #757575 !important;
}

// hide picklist button
.ui-picklist-buttons{
    display:none !important;
    width: 0 !important;
    position: absolute !important;
}

// picklist 1
.picklist-custom-top{
	// picklist source css
	.ui-picklist-source{
		@extend .ui-picklist-main;
		border: none !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #4285F4 !important;
			color: #bdbdbd !important;
		}
	}

	// pick list target css
	.ui-picklist-target{
		@extend .ui-picklist-main;
		border: 1px dashed #424242 !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #FF8800 !important;
			color: #f5f5f5 !important;
		}
	}
}

// picklist 2
.picklist-custom-bottom-left{
	// picklist source css
	.ui-picklist-source{
		@extend .ui-picklist-main;
		border: 1px dashed #bdbdbd !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: gray !important;
			color: #f5f5f5 !important;
		}
	}

	// pick list target css
	.ui-picklist-target{
		@extend .ui-picklist-main;
		border: 1px dashed #bdbdbd !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #c62828 !important;
			color: #f5f5f5 !important;
		}
	}
}

.picklist-custom-bottom-right{
	// picklist source css
	.ui-picklist-source{
		@extend .ui-picklist-main;
		border: 1px dashed #bdbdbd !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #4285F4 !important;
			color: #f5f5f5 !important;
		}
	}

	// pick list target css
	.ui-picklist-target{
		@extend .ui-picklist-main;
		border: 1px dashed #bdbdbd !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #c62828 !important;
			color: #f5f5f5 !important;
		}
	}
}