.ui-picklist {
    display: table;
	position: relative;
	overflow: hidden !important;
 	& > div {
		float: none;
		display: table-cell;
		vertical-align: top;
	}
	&-buttons {
		height: 12.5em;
		padding: 0 .25em;
		vertical-align: middle;
	}
	&-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow:auto;
		height: 12.5em;
		width: 12.5em;
		li {
			margin: 1px;
			padding: .125em;
		}
		.ui-picklist-droppoint-empty {
			height: 100%;
			list-style-type: none;
		}
	}
	&-item {
		cursor: pointer;
		border: 0 none;
		font-weight: inherit;
	}
	&-caption {
		text-align: center;
		padding: .5em .75em;
		border-bottom:0 none;
	}
	&-filter-container {
		position: relative;
		width: 100%;
		padding: .5em .6em;
		border-bottom: 0 none;
		.ui-picklist-filter {
			text-indent: 1.1em;
			width: 100%;
		}
		.ui-picklist-filter-icon {
			position: absolute;
			top: 50%;
			left: 1em;
			margin-top: -.6em;
		}
	}
	&-outline {
		outline: 1px dotted black;
		z-index: 1;
	}
	&-droppoint {
		height: 6px;
		list-style-type: none;
		display: flex !important; 
		flex-direction: column !important; 
	}
	&-droppoint-last {
		min-height: 52px;
		width: 280px !important;
		//background: red !important;
		position: absolute;
		//top: 10px !important;
		height: 70% !important;
		overflow: hidden !important;
		//z-index: 1;
	}
	.ui-button {
		display:block;
		margin-bottom: 0.25em;
		&-text-icon-left {
			width: 100%;
		}
	}
	table {
		width: 100%;
		border-collapse:collapse;
	}
}

/* Vertical */
.ui-picklist.ui-picklist-vertical {
	display: table;
	
	& > div {
		float: none;
		display: table-row;
		vertical-align: top;
	}
	.ui-picklist-buttons {
		text-align:center;
		height: auto;
		.ui-button {
			display: inline-block;
		}
	}
	.ui-button {
		margin-top: 0.25em;
	}
}


.ui-picklist-list.ui-picklist-source,
.ui-picklist-list.ui-picklist-target {
    outline: none;
}

/* Responsive */
.ui-picklist.ui-picklist-responsive * {
    box-sizing: border-box;
}

.ui-picklist.ui-picklist-responsive {
	width: 100%;
	.ui-picklist-listwrapper {
		width: 35%;
	}
	.ui-picklist-listwrapper.ui-picklist-listwrapper-nocontrols {
		width: 45%;
	}
	.ui-picklist-buttons {
		width: 10%;
	}
	.ui-picklist-buttons button {
		width: 100%;
	}
	.ui-picklist-list {
		width: auto;
	}
}
        
/* Responsive */
@media (max-width: 40em) {
    .ui-picklist.ui-picklist-responsive {
		display: block;
		& > div {
			display: block;
			width: 100% !important;
		}
		.ui-picklist-buttons {
			text-align: center;
			height: auto;
			padding: .4em 0;
			button {
				display: inline-block;
				width: 20%;
				margin-bottom: 0;
				margin-right: .25em;
			}
			.pi-angle-right::before {
				content: "\e930";
			}
			.pi-angle-double-right::before {
				content: "\e92c";
			}
			.pi-angle-left::before {
				content: "\e933";
			}
			.pi-angle-double-left::before {
				content: "\e92f";
			}
		}
		.ui-picklist-source-controls.ui-picklist-buttons {
			padding-bottom: .4em;
		}
		.ui-picklist-target-controls.ui-picklist-buttons {
			padding-top: .4em;
		}
    } 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.blur-elem {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	background-color: #ccc;
}

// main picklist source and target css
.ui-picklist-main{
	width: auto !important;
	min-height: 270px !important;
	padding: 10px !important;
	margin: 5px !important;
	border-radius: 5px !important;
}

// picklist item main css
.ui-picklist-item-main{
	padding: 10px 15px !important;
	border-radius: 10px !important;
	word-break: break-all !important; 
}

// pick list caption
.ui-picklist-caption{
	text-align: left !important;
	background: none !important;
	border: none !important;
	font-weight: 400 !important;
	color: #757575 !important;
}

// hide picklist button
.ui-picklist-buttons{
    display:none !important;
    width: 0 !important;
    position: absolute !important;
}

// picklist 1
.picklist-custom-top{
	// picklist source css
	.ui-picklist-source{
		@extend .ui-picklist-main;
		border: none !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #4285F4 !important;
			color: #bdbdbd !important;
		}
	}

	// pick list target css
	.ui-picklist-target{
		@extend .ui-picklist-main;
		border: 1px dashed #4285F4 !important;

		.ui-picklist-item{
			@extend .ui-picklist-item-main;
			background: #FF8800 !important;
			color: #f5f5f5 !important;
		}
	}
}

// picklist 1
.picklist-custom-multiple{
	@extend .noselect;

	// pick list target css
	.ui-picklist-target{
		width: auto !important;
		min-height: 310px !important;
		padding: 10px !important;
		margin: 5px !important;
		border-radius: 5px !important;
		border: 1px dashed #4285F4 !important;

		li{
			padding: 0 !important;
			margin: 0 !important;
			border-radius: 30px !important;
		}
		
		.ui-picklist-item {
			& > .non-requested{
				margin: 0 !important;
				padding: 5px 10px !important;
				border-radius: 10px;
				background: #757575 !important;
				color: #f5f5f5 !important;
			}
			& > .recommend {
				margin: 0 !important;
				padding: 5px 10px !important;
				border-radius: 10px;
				background: #4285F4 !important;
				color: #f5f5f5 !important;
			}
			& > .mandatory{
				margin: 0 !important;
				padding: 5px 10px !important;
				border-radius: 10px;
				background: #c62828 !important;
				color: #f5f5f5 !important;
			}
		}	
	}	
}

