.table-with-rotated-header {
    border-collapse: collapse;

    td {
        padding: 10px 5px;
        border: 1px solid #ccc;
    }
}

.ui-column-resizer .ui-clickable{
    background: none !important;
}

.rotated-header {
    position: relative;
    height: 80px;

    .rotated-header-text {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translate(50%, 50%) rotate(-45deg);
        transform-origin: 0% 50%;
        padding-left: 1em;
        width: 100px;
    }

    .rotated-header-decoration {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        transform: skewX(-45deg) !important;
        transform-origin: 0 100% !important;
        border: 1px solid gray !important;
        border-bottom: none !important;

    }

    &:not(:first-child) .rotated-header-decoration {
        border-left: none;
    }
}


.table-header-col-group {
  position: relative;
  top: 0px;
  border: none;
  background: red;
  right: -100px;
  z-index: 9;
  /* Rotate div */
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  padding: 0 !important;
  margin: 0 !important;
}

.table-header-col-group > div {
  border: 1px solid gray !important;
  padding: 10px;
}

.table-header-col-group span {
  -ms-transform:skew(45deg,0deg);
  -moz-transform:skew(45deg,0deg);
  -webkit-transform:skew(45deg,0deg);
  -o-transform:skew(45deg,0deg);
  transform:skew(45deg,0deg);
  display: inline-block !important;
}