<!-- TABLE 1 -->
<div class="pt-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-11 py-5 px-3 text-center">
			<h5 class="text-muted m-0">Primeng Table with Slanted Header, Sort, Resize, Sticky, Single Selection</h5>

			 <!-- 
			 	[columns] : List of column header : array of object
				[itemList]: List of rows : array of object
				[slanted]: Slanted headers : boolean
				[sticky]: Sticky headers : boolean
				[resizable]: Resizable columns headers: boolean
				[selectable]: Selectable : boolean
				[selection]: Selection Data
				[selectionType]: Selection Type (still has limitation) : string
				[headerHeight]: Height : number
			 -->

			<app-primeng-table 
				*ngIf="cars && cars.length > 0"
				[columns]="cols"
				[itemList]="cars"
				[slanted]="true"
				[sticky]="true"
				[resizable]="true"
				[selectable]="true"
				[selectionMode]="'single'"
				[datakey]="'vin'"
				[headerHeight]="headerHeight">
			</app-primeng-table>
		</div>
	</div>
</div>


<!-- TABLE 3 -->

<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row mx-0">
		<div class="col-11 py-5 mt-5 text-center">
			<h5 class="text-muted m-0 mb-5">Primeng Table with Slanted Header, Sort, Resize, Pagination, Editable</h5>

			<p-table
				[ngClass]="{ 'rotate': slanted ? 'rotate' : '' }"
				[value]="cars2" 
				[paginator]="true"
				[rows]="10"
				[rowsPerPageOptions]="[10,15,20,25]" 
				[resizableColumns]="true">
			    <ng-template pTemplate="header">
			        <tr>
			            <th *ngFor="let col of cols" 
			            class="rotated-header" 
			            [ngStyle]="{height: headerHeight2 + 'px'}"
			            [pSortableColumn]="col.field"
			            (click)="removeHighlight()" 
			            pResizableColumn>
			            	<div class="rotated-header-decoration"></div>
			                <div class="rotated-header-text"
			                	pTooltip="{{col.header}}" 
			                	tooltipPosition="top"
			                	[ngStyle]="{width: headerHeight2 + 20 + 'px'}"> 
			                    <p-sortIcon [field]="col.field"></p-sortIcon>
			                    {{col.header}}
			                </div>
			            </th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-car>
			        <tr>
			            <td *ngFor="let col of cols"
			            pEditableColumn  
			            class="ui-resizable-column">
			            	<!-- NORMAL INPUT -->
			                <p-cellEditor *ngIf="col.field !== 'brand'">
			                    <ng-template pTemplate="input">
			                        <input pInputText type="text" 
			                        [(ngModel)]="car[col.field]">
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{car[col.field]}}
			                    </ng-template>
			                </p-cellEditor>

			                <!-- DROPDOWN INPUT -->
			                <p-cellEditor *ngIf="col.field === 'brand'">
			                    <ng-template pTemplate="input">
			                        
			                        <div class="form-group custom-dropdown">
			                            <select class="form-control" 
			                            	style="cursor: pointer !important;"
			                            	[(ngModel)]="car[col.field]">
			                            	<option *ngFor="let brands of brands">
			                            		<span>{{brands.label}}</span>
			                            	</option>
			                            </select>
			                        </div>
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{car[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			            </td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
	</div>
</div>

<!-- TABLE 5 -->
<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row mx-0">
		<div class="col-11 py-5 mt-5 text-center">
			<h5 class="text-muted m-0 mb-5">Primeng Table with Slanted Header, Sort, Resize, Editable, Frozen Column</h5>

			<p-table
				[ngClass]="{ 'rotate': slanted ? 'rotate' : '' }"
				[value]="cars2" 
				[columns]="scrollableCols" 
				[scrollable]="true" 
				[(selection)]="selectedCar"
				[frozenColumns]="frozenCols" 
				frozenWidth="200px"
				scrollHeight="335px">
				<ng-template pTemplate="colgroup" let-columns>
					<colgroup>
						<col *ngFor="let col of columns" style="width:200px">
					</colgroup>
				</ng-template>
			    <ng-template pTemplate="header" let-columns>
			        <tr>
			            <th [id]="'slanted-header-' + col.field"
			            *ngFor="let col of columns; let i = index;" 
			            class="rotated-header"
			            [ngStyle]="{height: headerHeight3 + 'px'}"
			            [pSortableColumn]="col.field"
			            (click)="removeHighlight()">
			            	<div class="rotated-header-decoration" 
			            	[id]="'slanted-div-' + col.field"></div>
			                <div class="rotated-header-text" 
			                [id]="'slanted-text-' + col.field"> 
			                    <p-sortIcon [field]="col.field"></p-sortIcon>
			                    {{col.header}}
			                </div>
			            </th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" 
				    let-rowData 
				    let-columns="columns">
			        <tr>
			            <td *ngFor="let col of columns"
			            pEditableColumn  
			            class="ui-resizable-column">
			            	<!-- NORMAL INPUT -->
			                <p-cellEditor>
			                    <ng-template pTemplate="input">
			                        <input pInputText type="text" 
			                        [(ngModel)]="rowData[col.field]">
			                    </ng-template>
			                    <ng-template pTemplate="output">
			                        {{rowData[col.field]}}
			                    </ng-template>
			                </p-cellEditor>
			            </td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
	</div>
</div>
