 <!-- 
 	===================================================
 	PLEASE READ - AVAILABLE INPUT FLAGS
 	===================================================

	[columns]: List of column header : Array of object
	[datakey]: Data Key if [selectable]="true" : String
	[editable]: Editable, Set if row item is editable: Boolean 
	[frozen]: Enable frozen column, PLEASE CHECK LIMITATIONS BELOW: Boolean
	[frozenWidth]: Frozen Column Width per column: Number
	[frozenColumn]: Frozen Column Header: Object
	[headerHeight]: Height of header: number
	[itemList]: List of rows : array of object
	[paginator]: Set Paginator : Boolean
	[rows]: Rows Per Page if [paginator]="true": Boolean
	[rowsPerPageOptions]: Rows Per Page Option if [paginator]="true": Array of Number
	[resizable]: Resizable columns headers: Boolean
	[scrollable]: Allow scrolling of table with scrollable height
	[scrollableHeight]: Allow scrolling of table with scrollable height
	[selectable]: Selectable row : Boolean
	[selectionMode]: Type of Selection for Table | single or multiple selection: String
	[slanted]: Slanted headers : Boolean
	[sticky]: Sticky headers : Boolean
	
	===================================================
	NOTE: LIMITATION OF REUSABLE PRIMENG TABLE
	===================================================
	/----------------
	IF YOU WILL USE SCROLL [scrollable]="true" 
	DONT USE RESIZE, set [resizable]="false" (SCROLL DONT WORK WITH RESIZE COLUMN)
	
	/----------------
	IF YOU WILL USE EDITABLE ROWS [editable]="true"
	DONT USE SELECTABLE, set [selectable]="false" and other related flag 
	[selectionMode]="'single'"
	[datakey]="'vin'"
	(YOU CANT SELECT A SINGLE ROW AND EDIT IT, YOU CAN ONLY SELECT 1 COLUMN PER ROW)

	/----------------
	FROZEN COLUMN IS NOT VERY COMPATIBLE WITH REUSABLE TABLE, 
	FROZEN COLUMN MIGHT CRASH THE TABLE, CREATING CONFLICTS WITH OTHER FLAGS
	
	- ONLY USE THIS FLAGS WHILE USING FROZEN COLUMNS, RECHECK LIMITATION
		[columns]="scrollableCols"
		[datakey]="'vin'"
		[editable]="false" 
		[frozen]="true"
		[frozenWidth]="200"
		[frozenColumn]="frozenCols"
		[headerHeight]="headerHeight"
		[itemList]="cars2"
		[paginator]="false"
		[rows]="10"
		[rowsPerPageOptions]="[10,15,20,25]" 
		[scrollable]="false"
		[selectable]="true"
		[selectionMode]="'single'"
		[slanted]="true"

	/-----------------
 -->


<!-- TABLE 1 -->
<div class="pt-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="col-10 py-5 px-3 text-center">
			<h5 class="text-muted m-0">
			Primeng Table with Slanted Header, Sort, Resize, Sticky, Single Selection</h5>

			<!-- REUSABLE PRIMENG TABLE, Just change the flags to modify -->
			<app-primeng-table 
				*ngIf="cars && cars.length > 0"
				[columns]="cols"
				[datakey]="'vin'"
				[editable]="false" 
				[headerHeight]="headerHeight"
				[itemList]="cars"
				[resizable]="true"
				[paginator]="false"
				[rows]="10"
				[rowsPerPageOptions]="[10,15,20,25]" 
				[scrollable]="false"
				[selectable]="true"
				[selectionMode]="'single'"
				[slanted]="true"
				[sticky]="true"
				>
			</app-primeng-table>
			
			<!-- Sample Reusable table using other flags
			<app-primeng-table 
				*ngIf="cars2 && cars2.length > 0"
				[columns]="cols"
				[datakey]="'vin'"
				[editable]="true" 
				[headerHeight]="headerHeight"
				[itemList]="cars2"
				[paginator]="true"
				[rows]="10"
				[rowsPerPageOptions]="[10,15,20,25]" 
				[resizable]="false"
				[scrollable]="false"
				[slanted]="false"
				[sticky]="false"
				>
			</app-primeng-table>-->
		</div>
	</div>
</div>


<!-- TABLE 3 -->
<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row mx-0">
		<div class="col-10 mt-5 text-center">
			<h5 class="text-muted m-0">
			Primeng Table with Slanted Header, Sort, Resize, Pagination, Editable</h5>

			<app-primeng-table 
				*ngIf="cars2 && cars2.length > 0"
				[columns]="cols"
				[datakey]="'vin'"
				[editable]="true" 
				[headerHeight]="120"
				[itemList]="cars2"
				[resizable]="true"
				[paginator]="true"
				[rows]="10"
				[rowsPerPageOptions]="[10,15,20,25]" 
				[slanted]="true"
				>
			</app-primeng-table>
		</div>
	</div>
</div>

<!-- TABLE 5 -->
<div [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row mx-0">
		<div class="col-10 py-5 mt-5 text-center">
			<h5 class="text-muted m-0">Primeng Table with Slanted Header, Sort, Editable, Frozen Column</h5>

			<app-primeng-table 
				*ngIf="cars2 && cars2.length > 0"
				[columns]="scrollableCols"
				[datakey]="'vin'"
				[editable]="true" 
				[headerHeight]="120"
				[itemList]="cars2"
				[paginator]="true"
				[rows]="10"
				[rowsPerPageOptions]="[10,15,20,25]" 
				[scrollable]="true"
				[slanted]="true"
				[frozen]="true"
				[frozenWidth]="200"
				[frozenColumn]="frozenCols"
				>
			</app-primeng-table>
		</div>
	</div>
</div>
