/* You can add global styles to this file, and also import other style files */

@import "/assets/styles/primeng/picklist.scss";
@import "/assets/styles/primeng/primeng-table.scss";



html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
	background: #4B515D;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

app-home > div > div > div {
	margin-bottom: 400px;
}